<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
		<string>germandbls</string>
		<string>b.sc</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>c.sc</string>
		<string>cacute.sc</string>
		<string>ccaron.sc</string>
		<string>ccedilla.sc</string>
		<string>cdotaccent.sc</string>
	</array>
	<key>@MMK_L_D</key>
	<array>
		<string>thorn.sc</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
		<string>Fhook</string>
		<string>Fhook.sc</string>
		<string>f.sc</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>g.sc</string>
		<string>gbreve.sc</string>
		<string>gcommaaccent.sc</string>
		<string>gdotaccent.sc</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>M</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>ae.sc</string>
		<string>e.sc</string>
		<string>eacute.sc</string>
		<string>ecaron.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>edotaccent.sc</string>
		<string>egrave.sc</string>
		<string>emacron.sc</string>
		<string>eogonek.sc</string>
		<string>h.sc</string>
		<string>hbar.sc</string>
		<string>i.sc</string>
		<string>iacute.sc</string>
		<string>icaron.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>idotaccent.sc</string>
		<string>igrave.sc</string>
		<string>imacron.sc</string>
		<string>iogonek.sc</string>
		<string>m.sc</string>
		<string>oe.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zcaron.sc</string>
		<string>zdotaccent.sc</string>
	</array>
	<key>@MMK_L_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>k.sc</string>
		<string>kcommaaccent.sc</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcommaaccent.sc</string>
		<string>lslash.sc</string>
	</array>
	<key>@MMK_L_N</key>
	<array>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>ncommaaccent.sc</string>
		<string>eng.sc</string>
		<string>ntilde.sc</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>eth</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
		<string>p.sc</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcaron.sc</string>
		<string>rcommaaccent.sc</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scaron.sc</string>
		<string>scedilla.sc</string>
		<string>scommaaccent.sc</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>t.sc</string>
		<string>tbar.sc</string>
		<string>tcaron.sc</string>
		<string>tcedilla.sc</string>
		<string>tcommaaccent.sc</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Udieresisacute.sc</string>
		<string>Udieresiscaron.sc</string>
		<string>Udieresisgrave.sc</string>
		<string>Udieresismacron.sc</string>
		<string>j.sc</string>
		<string>u.sc</string>
		<string>uacute.sc</string>
		<string>ucaron.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>umacron.sc</string>
		<string>uogonek.sc</string>
		<string>uring.sc</string>
		<string>utilde.sc</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>wacute.sc</string>
		<string>wcircumflex.sc</string>
		<string>wdieresis.sc</string>
		<string>wgrave.sc</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
		<string>x.sc</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ycircumflex.sc</string>
		<string>ydieresis.sc</string>
		<string>ygrave.sc</string>
		<string>ytilde.sc</string>
	</array>
	<key>@MMK_L_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
	</array>
	<key>@MMK_L_a.sc</key>
	<array>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acaron.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>@MMK_L_caron</key>
	<array>
		<string>dcaron</string>
		<string>lcaron</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
		<string>f_f.liga</string>
	</array>
	<key>@MMK_L_four.lf</key>
	<array>
		<string>four</string>
		<string>four.lf</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_L_guillemets</key>
	<array>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>quotedblbase.case</string>
		<string>quotedblleft.case</string>
		<string>quotedblright.case</string>
		<string>guillemetleft.case</string>
		<string>guillemetright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>f_f_k.liga</string>
		<string>f_k.liga</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>dcroat</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_f_i.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_l.liga</string>
		<string>f_j.liga</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>q</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>f_f_h.liga</string>
		<string>f_h.liga</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>f_b.liga</string>
		<string>f_f_b.liga</string>
		<string>zero</string>
		<string>two</string>
		<string>three</string>
		<string>nine</string>
	</array>
	<key>@MMK_L_o.sc</key>
	<array>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>dcaron.sc</string>
		<string>dcroat.sc</string>
		<string>o.sc</string>
		<string>oacute.sc</string>
		<string>ocaron.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>omacron.sc</string>
		<string>oslash.sc</string>
		<string>otilde.sc</string>
		<string>q.sc</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_L_one.lf</key>
	<array>
		<string>one.lf</string>
	</array>
	<key>@MMK_L_parent</key>
	<array>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft.sc</string>
		<string>parenright.sc</string>
		<string>braceleft.sc</string>
		<string>braceright.sc</string>
		<string>bracketleft.sc</string>
		<string>bracketright.sc</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>underscore</string>
		<string>period.sc</string>
	</array>
	<key>@MMK_L_quote</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblleft.sc</string>
		<string>quotedblright.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>quotedbl.sc</string>
		<string>quotesingle.sc</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_seven.lf</key>
	<array>
		<string>seven.lf</string>
	</array>
	<key>@MMK_L_six.lf</key>
	<array>
		<string>six</string>
		<string>five.lf</string>
		<string>six.lf</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_sups</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>a.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>h.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_L_three.lf</key>
	<array>
		<string>three.lf</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>jdotless</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_zero.lf</key>
	<array>
		<string>eight</string>
		<string>zero.lf</string>
		<string>two.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_R_AE</key>
	<array>
		<string>AE</string>
	</array>
	<key>@MMK_R_AE.sc</key>
	<array>
		<string>ae.sc</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>Fhook</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Fhook.sc</string>
		<string>b.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>dcaron.sc</string>
		<string>dcroat.sc</string>
		<string>e.sc</string>
		<string>eacute.sc</string>
		<string>ecaron.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>edotaccent.sc</string>
		<string>egrave.sc</string>
		<string>emacron.sc</string>
		<string>eogonek.sc</string>
		<string>f.sc</string>
		<string>h.sc</string>
		<string>hbar.sc</string>
		<string>i.sc</string>
		<string>iacute.sc</string>
		<string>icaron.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>idotaccent.sc</string>
		<string>igrave.sc</string>
		<string>imacron.sc</string>
		<string>iogonek.sc</string>
		<string>k.sc</string>
		<string>kcommaaccent.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcommaaccent.sc</string>
		<string>lslash.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>ncommaaccent.sc</string>
		<string>eng.sc</string>
		<string>ntilde.sc</string>
		<string>p.sc</string>
		<string>thorn.sc</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcaron.sc</string>
		<string>rcommaaccent.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zcaron.sc</string>
		<string>zdotaccent.sc</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
		<string>j.sc</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
		<string>N</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scaron.sc</string>
		<string>scedilla.sc</string>
		<string>scommaaccent.sc</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>t.sc</string>
		<string>tbar.sc</string>
		<string>tcaron.sc</string>
		<string>tcedilla.sc</string>
		<string>tcommaaccent.sc</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Udieresisacute.sc</string>
		<string>Udieresiscaron.sc</string>
		<string>Udieresisgrave.sc</string>
		<string>Udieresismacron.sc</string>
		<string>u.sc</string>
		<string>uacute.sc</string>
		<string>ucaron.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>umacron.sc</string>
		<string>uogonek.sc</string>
		<string>uring.sc</string>
		<string>utilde.sc</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>wacute.sc</string>
		<string>wcircumflex.sc</string>
		<string>wdieresis.sc</string>
		<string>wgrave.sc</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
		<string>x.sc</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ycircumflex.sc</string>
		<string>ydieresis.sc</string>
		<string>ygrave.sc</string>
		<string>ytilde.sc</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_a.sc</key>
	<array>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acaron.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
	</array>
	<key>@MMK_R_b</key>
	<array>
		<string>b</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>fi</string>
		<string>fl</string>
		<string>f_b.liga</string>
		<string>f_f.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_i.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_f_l.liga</string>
		<string>f_h.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
	</array>
	<key>@MMK_R_five.lf</key>
	<array>
		<string>five</string>
		<string>five.lf</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.dnom</string>
	</array>
	<key>@MMK_R_four.lf</key>
	<array>
		<string>four</string>
		<string>four.lf</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
	</array>
	<key>@MMK_R_guillemets</key>
	<array>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>quotedblbase.case</string>
		<string>quotedblleft.case</string>
		<string>quotedblright.case</string>
		<string>guillemetleft.case</string>
		<string>guillemetright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
	</array>
	<key>@MMK_R_l</key>
	<array>
		<string>f</string>
		<string>h</string>
		<string>hbar</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>lslash</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>jdotless</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>one</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>zero</string>
		<string>two</string>
		<string>three</string>
		<string>nine</string>
	</array>
	<key>@MMK_R_o.sc</key>
	<array>
		<string>c.sc</string>
		<string>cacute.sc</string>
		<string>ccaron.sc</string>
		<string>ccedilla.sc</string>
		<string>cdotaccent.sc</string>
		<string>g.sc</string>
		<string>gbreve.sc</string>
		<string>gcommaaccent.sc</string>
		<string>gdotaccent.sc</string>
		<string>o.sc</string>
		<string>oacute.sc</string>
		<string>ocaron.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>omacron.sc</string>
		<string>oslash.sc</string>
		<string>otilde.sc</string>
		<string>oe.sc</string>
		<string>q.sc</string>
	</array>
	<key>@MMK_R_one.lf</key>
	<array>
		<string>one.lf</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_parent</key>
	<array>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft.sc</string>
		<string>parenright.sc</string>
		<string>braceleft.sc</string>
		<string>braceright.sc</string>
		<string>bracketleft.sc</string>
		<string>bracketright.sc</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>period</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>underscore</string>
		<string>period.sc</string>
	</array>
	<key>@MMK_R_quote</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblleft.sc</string>
		<string>quotedblright.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>quotedbl.sc</string>
		<string>quotesingle.sc</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_seven.lf</key>
	<array>
		<string>seven.lf</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_R_sups</key>
	<array>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>a.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>h.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
	</array>
	<key>@MMK_R_three.lf</key>
	<array>
		<string>two.lf</string>
		<string>three.lf</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_R_zero.lf</key>
	<array>
		<string>six</string>
		<string>eight</string>
		<string>zero.lf</string>
		<string>six.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
	</array>
</dict>
</plist>
