<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1.</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>2</integer>
		<integer>8</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>GSDimensionPlugin.Dimensions</key>
		<dict>
			<key>9372F035-DA38-4B54-966C-CEBA9B53DD02</key>
			<dict>
				<key>HH</key>
				<string>32</string>
				<key>HV</key>
				<string>85</string>
				<key>OH</key>
				<string>32</string>
				<key>OV</key>
				<string>100</string>
				<key>nV</key>
				<string>70</string>
				<key>nd</key>
				<string>25</string>
				<key>oH</key>
				<string>25</string>
				<key>oV</key>
				<string>80</string>
			</dict>
			<key>A6809C35-1AB2-44E7-9375-7C9F565B66EC</key>
			<dict>
				<key>HH</key>
				<string>40</string>
				<key>HV</key>
				<string>142</string>
				<key>OH</key>
				<string>45</string>
				<key>OV</key>
				<string>150</string>
			</dict>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>14</integer>
		<key>GSOffsetHorizontal</key>
		<real>3.5</real>
		<key>GSOffsetVertical</key>
		<integer>0</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>9372F035-DA38-4B54-966C-CEBA9B53DD02</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>Fhook</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>idotaccent</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>jdotless</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>tcommaaccent</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>fi</string>
		<string>fl</string>
		<string>f_b.liga</string>
		<string>f_f.liga</string>
		<string>f_f_b.liga</string>
		<string>f_f_h.liga</string>
		<string>f_f_i.liga</string>
		<string>f_f_j.liga</string>
		<string>f_f_k.liga</string>
		<string>f_f_l.liga</string>
		<string>f_h.liga</string>
		<string>f_j.liga</string>
		<string>f_k.liga</string>
		<string>Aringacute.sc</string>
		<string>Fhook.sc</string>
		<string>Udieresisacute.sc</string>
		<string>Udieresiscaron.sc</string>
		<string>Udieresisgrave.sc</string>
		<string>Udieresismacron.sc</string>
		<string>a.sc</string>
		<string>aacute.sc</string>
		<string>abreve.sc</string>
		<string>acaron.sc</string>
		<string>acircumflex.sc</string>
		<string>adieresis.sc</string>
		<string>agrave.sc</string>
		<string>amacron.sc</string>
		<string>aogonek.sc</string>
		<string>aring.sc</string>
		<string>atilde.sc</string>
		<string>ae.sc</string>
		<string>b.sc</string>
		<string>c.sc</string>
		<string>cacute.sc</string>
		<string>ccaron.sc</string>
		<string>ccedilla.sc</string>
		<string>cdotaccent.sc</string>
		<string>d.sc</string>
		<string>eth.sc</string>
		<string>dcaron.sc</string>
		<string>dcroat.sc</string>
		<string>e.sc</string>
		<string>eacute.sc</string>
		<string>ecaron.sc</string>
		<string>ecircumflex.sc</string>
		<string>edieresis.sc</string>
		<string>edotaccent.sc</string>
		<string>egrave.sc</string>
		<string>emacron.sc</string>
		<string>eogonek.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>gbreve.sc</string>
		<string>gcommaaccent.sc</string>
		<string>gdotaccent.sc</string>
		<string>h.sc</string>
		<string>hbar.sc</string>
		<string>i.sc</string>
		<string>iacute.sc</string>
		<string>icaron.sc</string>
		<string>icircumflex.sc</string>
		<string>idieresis.sc</string>
		<string>idotaccent.sc</string>
		<string>igrave.sc</string>
		<string>imacron.sc</string>
		<string>iogonek.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>kcommaaccent.sc</string>
		<string>l.sc</string>
		<string>lacute.sc</string>
		<string>lcaron.sc</string>
		<string>lcommaaccent.sc</string>
		<string>ldot.sc</string>
		<string>lslash.sc</string>
		<string>m.sc</string>
		<string>n.sc</string>
		<string>nacute.sc</string>
		<string>ncaron.sc</string>
		<string>ncommaaccent.sc</string>
		<string>eng.sc</string>
		<string>ntilde.sc</string>
		<string>o.sc</string>
		<string>oacute.sc</string>
		<string>ocaron.sc</string>
		<string>ocircumflex.sc</string>
		<string>odieresis.sc</string>
		<string>ograve.sc</string>
		<string>ohungarumlaut.sc</string>
		<string>omacron.sc</string>
		<string>oslash.sc</string>
		<string>otilde.sc</string>
		<string>oe.sc</string>
		<string>p.sc</string>
		<string>thorn.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>racute.sc</string>
		<string>rcaron.sc</string>
		<string>rcommaaccent.sc</string>
		<string>s.sc</string>
		<string>sacute.sc</string>
		<string>scaron.sc</string>
		<string>scedilla.sc</string>
		<string>scommaaccent.sc</string>
		<string>t.sc</string>
		<string>tbar.sc</string>
		<string>tcaron.sc</string>
		<string>tcedilla.sc</string>
		<string>tcommaaccent.sc</string>
		<string>u.sc</string>
		<string>uacute.sc</string>
		<string>ucaron.sc</string>
		<string>ucircumflex.sc</string>
		<string>udieresis.sc</string>
		<string>ugrave.sc</string>
		<string>uhungarumlaut.sc</string>
		<string>umacron.sc</string>
		<string>uogonek.sc</string>
		<string>uring.sc</string>
		<string>utilde.sc</string>
		<string>v.sc</string>
		<string>w.sc</string>
		<string>wacute.sc</string>
		<string>wcircumflex.sc</string>
		<string>wdieresis.sc</string>
		<string>wgrave.sc</string>
		<string>x.sc</string>
		<string>y.sc</string>
		<string>yacute.sc</string>
		<string>ycircumflex.sc</string>
		<string>ydieresis.sc</string>
		<string>ygrave.sc</string>
		<string>ytilde.sc</string>
		<string>z.sc</string>
		<string>zacute.sc</string>
		<string>zcaron.sc</string>
		<string>zdotaccent.sc</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>a.sups</string>
		<string>d.sups</string>
		<string>e.sups</string>
		<string>h.sups</string>
		<string>m.sups</string>
		<string>n.sups</string>
		<string>o.sups</string>
		<string>r.sups</string>
		<string>s.sups</string>
		<string>t.sups</string>
		<string>Delta</string>
		<string>Omega</string>
		<string>mu</string>
		<string>pi</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>zero.sups</string>
		<string>one.sups</string>
		<string>two.sups</string>
		<string>three.sups</string>
		<string>four.sups</string>
		<string>five.sups</string>
		<string>six.sups</string>
		<string>seven.sups</string>
		<string>eight.sups</string>
		<string>nine.sups</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>slash</string>
		<string>backslash</string>
		<string>colon.case</string>
		<string>semicolon.case</string>
		<string>exclamdown.case</string>
		<string>questiondown.case</string>
		<string>periodcentered.case</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>hyphen</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>hyphen.case</string>
		<string>endash.case</string>
		<string>emdash.case</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotedblbase.case</string>
		<string>quotedblleft.case</string>
		<string>quotedblright.case</string>
		<string>guillemetleft.case</string>
		<string>guillemetright.case</string>
		<string>guilsinglleft.case</string>
		<string>guilsinglright.case</string>
		<string>parenleft.sc</string>
		<string>parenright.sc</string>
		<string>braceleft.sc</string>
		<string>braceright.sc</string>
		<string>bracketleft.sc</string>
		<string>bracketright.sc</string>
		<string>period.sc</string>
		<string>exclam.sc</string>
		<string>question.sc</string>
		<string>quotedblleft.sc</string>
		<string>quotedblright.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>quotedbl.sc</string>
		<string>quotesingle.sc</string>
		<string>space</string>
		<string>nbspace</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>yen</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>infinity</string>
		<string>emptyset</string>
		<string>integral</string>
		<string>Ohm</string>
		<string>increment</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>micro</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>percent.lf</string>
		<string>perthousand.lf</string>
		<string>whiteDiamond</string>
		<string>lozenge</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>dieresiscomb</string>
		<string>dotaccentcomb</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>hungarumlautcomb</string>
		<string>caroncomb.alt</string>
		<string>circumflexcomb</string>
		<string>caroncomb</string>
		<string>brevecomb</string>
		<string>ringcomb</string>
		<string>tildecomb</string>
		<string>macroncomb</string>
		<string>commaturnedabovecomb</string>
		<string>commaaccentcomb</string>
		<string>cedillacomb</string>
		<string>ogonekcomb</string>
		<string>strokeshortcomb</string>
		<string>strokelongcomb</string>
		<string>slashshortcomb</string>
		<string>slashlongcomb</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>caron.alt</string>
		<string>dieresiscomb.case</string>
		<string>dotaccentcomb.case</string>
		<string>gravecomb.case</string>
		<string>acutecomb.case</string>
		<string>hungarumlautcomb.case</string>
		<string>circumflexcomb.case</string>
		<string>caroncomb.case</string>
		<string>brevecomb.case</string>
		<string>ringcomb.case</string>
		<string>tildecomb.case</string>
		<string>macroncomb.case</string>
		<string>ogonekcomb.case</string>
		<string>strokeshortcomb.case</string>
		<string>slashshortcomb.case</string>
		<string>dieresiscomb.narrow</string>
		<string>dieresiscomb.sc</string>
		<string>dotaccentcomb.sc</string>
		<string>gravecomb.sc</string>
		<string>acutecomb.sc</string>
		<string>hungarumlautcomb.sc</string>
		<string>caroncomb.alt.sc</string>
		<string>circumflexcomb.sc</string>
		<string>caroncomb.sc</string>
		<string>brevecomb.sc</string>
		<string>ringcomb.sc</string>
		<string>tildecomb.sc</string>
		<string>macroncomb.sc</string>
		<string>ogonekcomb.sc</string>
		<string>strokelongcomb.sc</string>
		<string>slashshortcomb.sc</string>
		<string>slashlongcomb.sc</string>
		<string>strokeshortcomb.case.sc</string>
		<string>_corner.bdc</string>
		<string>_corner.cap</string>
		<string>_part</string>
		<string>_partG</string>
		<string>_part.bdc</string>
		<string>_part.bdc-n</string>
		<string>_part.curve-cap-left</string>
		<string>_part.f</string>
		<string>_part.fi</string>
		<string>_part.fl</string>
		<string>_part.jambage</string>
		<string>_part.jambage</string>
		<string>_part.n</string>
		<string>_part.o</string>
		<string>_part.quoteright</string>
	</array>
</dict>
</plist>
