<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>_part.jambage</key>
	<string>_part.jambage.glif</string>
	<key>_part.jambage.2</key>
	<string>_part.jambage.2.glif</string>
	<key>_part.serif</key>
	<string>_part.serif.glif</string>
	<key>_part.serif2</key>
	<string>_part.serif2.glif</string>
	<key>_part.sortie.2</key>
	<string>_part.sortie.2.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eight.lf</key>
	<string>eight.lf.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>emdash.case</key>
	<string>emdash.case.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>euro</key>
	<string>euro.glif</string>
	<key>f_f.liga</key>
	<string>f_f.liga.glif</string>
	<key>f_f_b.liga</key>
	<string>f_f_b.liga.glif</string>
	<key>f_f_h.liga</key>
	<string>f_f_h.liga.glif</string>
	<key>f_f_i.liga</key>
	<string>f_f_i.liga.glif</string>
	<key>f_f_j.liga</key>
	<string>f_f_j.liga.glif</string>
	<key>f_f_l.liga</key>
	<string>f_f_l.liga.glif</string>
	<key>f_h.liga</key>
	<string>f_h.liga.glif</string>
	<key>f_j.liga</key>
	<string>f_j.liga.glif</string>
	<key>f_k.liga</key>
	<string>f_k.liga.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>five.lf</key>
	<string>five.lf.glif</string>
	<key>five.sups</key>
	<string>five.sups.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>four.lf</key>
	<string>four.lf.glif</string>
	<key>four.sups</key>
	<string>four.sups.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>h.sups</key>
	<string>h.sups.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>jdotless.calt</key>
	<string>jdotless.calt.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>one.lf</key>
	<string>one.lf.glif</string>
	<key>one.sups</key>
	<string>one.sups.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>q.calt</key>
	<string>q.calt.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.lf</key>
	<string>six.lf.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.lf</key>
	<string>three.lf.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.lf</key>
	<string>two.lf.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>w.alt</key>
	<string>w.alt.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>yen</key>
	<string>yen.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.lf</key>
	<string>zero.lf.glif</string>
</dict>
</plist>
